body {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0 10px;
    font-family: Arial;
    background-color: #000;
  }
  
  * {
    box-sizing: border-box;
  }
  
  h1, h3 {
    text-align: center;
  }
  
  #main {
  max-width: 1200px;
    width: 100%;
    margin: 30px auto;
    background-color: #ddd;
  }
  
  #title {
    background-color: #fff;
    padding: 20px 10px;
  }
  
  #title ~ p {
    font-size: 12px;
    margin-bottom: 20px;
    padding: 0 10px;
    text-align: center;
  }
  
  #img-div {
    width: 100%;
    max-width: 100%;
  }
  
  #image {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  
  #img-caption {
    font-size: 14px;
    padding: 0 10px;
    margin: 10px 0;
    text-align: center;
    background-color: #ddd;
    font-style: italic;
  }
  
  #tribute-info {
    padding: 10px 20px;
    background-color: #fff;
  }
  
  #tribute-info > ol {
  list-style-position: inside;
    padding: 0;
    margin: 0;
    padding: 0;
  }
  
  #tribute-info li {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.5;
    text-align: justify;
  }
  
  #tribute-link {
    color:  #c36704;
    text-decoration: none;
    line-height: 1.5;
    padding-left: 15px;
  }
  
  #tribute-link:hover {
    text-decoration: underline;
  }
  
  article {
    padding: 10px 10px 30px;
    color: #fff;
    background-color: #000;
  }