@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

body {
  margin: 20px 0;
  padding: 0 20px;
  background-color: #6f88b3;
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;
}

#title {
  color: #ffffff;
  text-align: center;
}

#description {
  font-size: 18px;
  color: #fff;
  text-align: center;
}

#survey-form { 
  max-width: 640px;
  margin: 0 auto;
  background-color: #fff;
  padding: 36px;
  border-radius: 4px;
  box-sizing: border-box;
}

#survey-form .label {
  display: block;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 6px;
}

#survey-form input,
#survey-form textarea,
#survey-form select {
  box-sizing: border-box;
  padding: 6px 10px;
  font-size: 14px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: #ccc 1px solid;
  outline: none;
  font-family: 'Comfortaa', cursive;
  transition: border-color 0.3s;
}

#survey-form input,
#survey-form select {
  min-width: 320px;
}

#survey-form textarea {
  width: 100%;
}

#survey-form input:focus,
#survey-form textarea:focus,
#survey-form select:focus,
#survey-form input:hover,
#survey-form textarea:hover,
#survey-form select:hover {
    border: #6f88b3 2px solid;
    padding: 5px 9px;
}

#survey-form .radio,
#survey-form .checkbox {
  cursor: pointer;
  line-height: 20px;
}

#survey-form .radio > input {
  min-width: 0;
  width: 16px;
  height: 16px;
  padding: 0;
  position: relative;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}

#survey-form .radio > input::before {
  content:'';
  position: absolute;
  width: 16px;
  height: 16px;
  right: -2px;
  top: 0;
  background: #fff;
  border-radius: 50%;
  border: #ccc 2px solid;
}

#survey-form .checkbox > input {
  min-width: 0;
  width: 16px;
  position: relative;
  cursor: pointer;
  padding: 0;
}

#survey-form .checkbox > input::before {
  content:'';
  position: absolute;
  width: 16px;
  height: 16px;
  top: -3px;
  right: -2px;
  background: #fff;
  border-radius: 4px;
  border: #ccc 2px solid;
}

#survey-form .radio > input:hover::before,
#survey-form .checkbox > input:hover::before {
  border-color: #6f88b3;
}

#survey-form .radio > input:checked::before {
  border-color: #6f88b3;
}

#survey-form .radio > input:checked::after {
  content:'';
  position: absolute;
  width: 12px;
  height: 12px;
  top: calc(50% - 4px);
  left: 2;
  background-color: #6f88b3;
  border-radius:50%;
}

#survey-form .checkbox > input:checked::before {
  content:'\2713'; 
  font-size: 14px;
  color: #6f88b3;
  text-align: center;
  border-color: #6f88b3;
}

#submit {
  display: block;
  border-radius: 4px;
  font-size: 16px;
  padding: 10px 26px;
  margin: 10px auto;
  border: none;
  color: fff;
  font-family: 'Comfortaa', cursive;
  background-color: #6f88b3;
  transition: background-color 0.3s;
}

#submit:hover {
  cursor: pointer;
  background-color: #6b8;
}